In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
import math
# Any results you write to the current directory are saved as output.

/home/tannmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/tannmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
X_train = pd.read_csv("x_train_imputed.csv")
y_train = pd.read_csv("y_train_imputed.csv")
val_X = pd.read_csv("val_X_imputed.csv")
evaluation = pd.read_csv("Evaluation_dataset.csv")
# test = pd.read_csv("newtest.csv")
test = pd.read_csv("test_imputed.csv")
dic_df = pd.read_csv("Data_Dictionary.csv")

/home/tannmay/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
val_X.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,1860.0,0.4668,0.212,0.0,0.0,1621.0,151211.0,22298.0,161588.0,207987.0,...,0.0,0.0,100.000,79.0105,0.00000,10,0.95597,0.0,0.0,C
1,1797.0,0.4451,0.000,0.0,0.0,920.0,8124.0,920.0,30429.0,14070.0,...,1.0,0.0,100.000,14.8880,0.00000,4,0.45250,0.0,0.0,C
2,1826.0,0.0423,0.000,0.0,0.0,3478.0,7209.0,3964.0,16054.0,24924.0,...,2.0,0.0,37.586,64.0020,0.09091,7,0.92384,0.0,0.0,C
3,1656.0,0.2726,41.623,0.0,0.0,4955.0,4955.0,4955.0,65010.0,0.0,...,0.0,0.0,100.000,79.0105,0.52632,0,0.00000,0.0,0.0,L
4,1915.0,0.4451,0.000,0.0,0.0,6918.0,7433.0,6918.0,7433.0,14351.0,...,0.0,0.0,100.000,79.0105,0.00000,2,1.00000,0.0,0.0,L

In [4]:
from sklearn.preprocessing import LabelEncoder
X_train.mvar47 = LabelEncoder().fit_transform(X_train.mvar47) 
val_X.mvar47 = LabelEncoder().fit_transform(val_X.mvar47)
# val_X.mvar47 = LabelEncoder().fit_transform(test.mvar47)

In [5]:
ID = evaluation["application_key"]

In [6]:
# Drop 19, 20, 35, 34, 32 and 43
X_train=X_train.drop(["mvar19","mvar20", "mvar35", "mvar34","mvar32", "mvar43"],axis=1)

In [7]:
# test=test[['mvar14', 'mvar47', 'mvar43', 'mvar3', 'mvar4', 'mvar5','mvar21', 'mvar22', 'mvar24', 'mvar33', 'mvar15', 'mvar37', 'mvar39','mvar40', 'mvar1', 'mvar7', 'mvar26', 'mvar27', 'mvar19', 'mvar20']]

In [8]:
X_train.mvar3 = (X_train.mvar3 + X_train.mvar4 + X_train.mvar5) / 3
X_train = X_train.drop(["mvar4", "mvar5"], axis=1)

In [9]:
X_train.mvar7 = X_train.mvar7 - X_train.mvar10
X_train.mvar7 = abs(X_train.mvar7)
X_train = X_train.drop("mvar10", axis=1)

In [10]:
X_train.mvar12 = X_train.mvar12 - X_train.mvar11
X_train.mvar12 = abs(X_train.mvar12)
X_train = X_train.drop("mvar11", axis=1)

In [11]:
X_train.mvar13 = (X_train.mvar15 + X_train.mvar14 - X_train.mvar13) 
X_train = X_train.drop(["mvar14", "mvar15"], axis=1)

In [12]:
X_train.mvar22 = np.multiply(X_train.mvar22, X_train.mvar38)
X_train = X_train.drop("mvar38", axis=1)

In [13]:
X_train.mvar27 = X_train.mvar27 - X_train.mvar25
X_train.mvar27 = abs(X_train.mvar7)
X_train = X_train.drop("mvar25", axis=1)

In [14]:
X_train.mvar40 = X_train.mvar40 / X_train.mvar31
X_train = X_train.drop("mvar31", axis=1)

In [15]:
X_train.mvar41 = X_train.mvar41 / X_train.mvar30
X_train = X_train.drop("mvar30", axis=1)

In [16]:
X_train.mvar45 = X_train.mvar45 + X_train.mvar46
X_train = X_train.drop("mvar46", axis=1)

In [17]:
val_X.mvar3 = (val_X.mvar3 + val_X.mvar4 + val_X.mvar5) / 3
val_X = val_X.drop(["mvar4", "mvar5"], axis=1)


val_X.mvar7 = val_X.mvar7 - val_X.mvar10
val_X.mvar7 = abs(val_X.mvar7)
val_X = val_X.drop("mvar10", axis=1)

val_X.mvar12 = val_X.mvar12 - val_X.mvar11
val_X.mvar12 = abs(val_X.mvar12)
val_X = val_X.drop("mvar11", axis=1)

val_X.mvar13 = (val_X.mvar15 + val_X.mvar14 - val_X.mvar13) 
val_X = val_X.drop(["mvar14", "mvar15"], axis=1)

val_X.mvar22 = np.multiply(val_X.mvar22, val_X.mvar38)
val_X = val_X.drop("mvar38", axis=1)

val_X.mvar27 = val_X.mvar27 - val_X.mvar25
val_X.mvar27 = abs(val_X.mvar7)
val_X = val_X.drop("mvar25", axis=1)

val_X.mvar40 = val_X.mvar40 / val_X.mvar31
val_X = val_X.drop("mvar31", axis=1)

val_X.mvar41 = val_X.mvar41 / val_X.mvar30
val_X = val_X.drop("mvar30", axis=1)

val_X.mvar45 = val_X.mvar45 + val_X.mvar46
val_X = val_X.drop("mvar46", axis=1)

In [18]:
val_X = val_X.drop(["mvar19","mvar20", "mvar35", "mvar34","mvar32", "mvar43"],axis=1)

In [19]:
X = X_train[:70000]
y = y_train[:70000]
X_test = X_train[70000:]
y_test = y_train[70000:]

In [20]:
df = {'ID': [], 'prob': [], 'pred': []}

prediction = pd.DataFrame(df)

In [21]:
prediction["ID"] = ID

In [22]:
# BayesianCV Optimization Result
#        num_leaves: 16
#      n_estimators: 246
#         max_depth: 50
#           max_bin: 128
#  bagging_fraction: 1.0
#  feature_fraction: 1.0
#     boosting_type: dart
#     learning_rate: 0.18456732832847952

def get_lgb_model():
    lgb_model = lgb.LGBMClassifier(objective='binary',num_leaves=230,boosting_type='gbdt',
                      learning_rate=0.0128, n_estimators=409, max_depth=30,
                      max_bin = 69, bagging_fraction = 0.8,verbose=-1,
                      bagging_freq = 5, feature_fraction = 0.8) 
    return lgb_model

In [23]:
import lightgbm as lgb

lgb_model = get_lgb_model()
lgb_model.fit(X, y)
target_hat = lgb_model.predict(X_test)
prediction1 = lgb_model.predict(X)
prob = lgb_model.predict_proba(val_X)

/home/tannmay/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/tannmay/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/tannmay/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/tannmay/.local/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [24]:
from sklearn import metrics
metrics.accuracy_score(y_test, target_hat, normalize=True, sample_weight=None)

0.783

In [25]:
metrics.accuracy_score(y, prediction1, normalize=True, sample_weight=None)

0.8722571428571428

In [65]:
predic = []

for i in range(len(val_X)):
    predic.append(prob[i][0])

In [66]:
prediction["prob"] = predic

In [67]:
prediction = prediction.sort_values(by="prob", ascending=False)

In [68]:
for i in range(len(prediction["prob"])):
    if prediction["prob"][i] > 0.7:
        prediction["pred"][i] = 0
    else:
        prediction["pred"][i] = 1
    if i%1000 == 0:
        print(i)

/home/tannmay/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0

/home/tannmay/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000

In [85]:
d = {'Id': prediction["ID"], 'Target': prediction["pred"]}
submission = pd.DataFrame(data=d)
submission.to_csv('Give_us_some_credit_IITKharagpur.csv', header = False, index=False)